<div id="info_<%= @contact.id %>">

  <h3>Contact info for <%= @contact.name %></h3>

  <h4>Name: </h4>
  <p><%= @contact.name %></p>

  <h4>Number: </h4>
  <p><%= @contact.number %></p>

  <!--  link_to "Text this contact",  -->
</div>
